* {
    box-sizing: border-box;
   
  }
  body{
    background-image: url('BGCard.avif');

  }
  .Playlides  {
    display: flex;
  justify-content: center;
  }

  .PlayCard >h5{
  
    border-radius: 10px;
    background-color: aliceblue;

  }
  .PlayCard > p{
    border-radius: 10px;
    background-color: aliceblue; 
  }
 
 .PlayCard{
  border-radius: 20px;
    padding: 20px;
    border: solid black 2px;
    font-size:17px;
    text-align: center;
    margin-top: 10rem;
 }

.CreateBtn{
  color: aliceblue;
  font-size: 35px;
  border-radius: 15px;
  background-color:black;

}
.JoinBtn{
    color: aliceblue;
    font-size: 35px;
    border-radius: 15px;
    background-color:black;
    
    }
     
  