* {
    box-sizing: border-box;
  }
  
 
  
  .Playlides {
    display: flex;

  }
  .Playlides::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .Playlides::-webkit-scrollbar-thumb {
    background:black;
    border-radius: 10px;
  }
  .Playlides::-webkit-scrollbar-track {
    background: transparent;
  }
  .Playlides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 350px;
    height: 550px;
    margin: 50px;
    border-radius: 10px;
    background:wheat;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    border: 1px;
    font-size:17px;
    text-align: center;
  }
 
 
  .Playlider > a:active {
    top: 1px;
  }
  .Playlider > a:focus {
    background: #000;
  }
  .Playlides{
    
    display: flex;
    justify-content: center;
  }

.CreateBtn{
border-radius: 5px;
background-color: khaki;

}
.JoinBtn{
    border-radius: 5px;
    background-color: khaki;
    
    }
     
  