* {
    box-sizing: border-box;
  }
  
  .slider {
    
    width: px;
    text-align: center;
    overflow: hidden;
    
  }
  
  .slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
    
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
  }
  .slides::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .slides::-webkit-scrollbar-thumb {
    background:black;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 145px;
    height: 200px;
    margin-right: 0px;
    border-radius: 10px;
    background: transparent;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    border: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .author-info {
    background: rgba(144, 9, 9, 0.75);
    color: rgb(211, 33, 33);
    padding: 0.75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
  }
  .author-info a {
    color: white;
  }
  img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    height: 182px;
    margin:9px 0px 0px 7px ;
  }
  
  .slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
  }
  .slider > a:active {
    top: 1px;
  }
  .slider > a:focus {
    background: #000;
  }
  
  
  
   main {
    height: 100%;
    overflow: hidden;
  }
  main 
  {
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  span {
    height: 100%;
    overflow: hidden;
  }
  span 
  {
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  
  .hand {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 145px;
    height: 210px;
    margin-right: 5px;
    border-radius: 10px;
    background:transparent;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    border: 1px solid burlywood;
    display: flex;
    justify-content: center;
    align-items:end;
    font-size:18px;
    margin: 20px 0px 0px 100px;
  }
  .handimg {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 175px;
    margin:10px 0px 0px 13px ;
  }
  
 
  .handslides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
    
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
  
  }
  .handslides::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .handslides::-webkit-scrollbar-thumb {
    background:black;
    border-radius: 10px;
  }
  .handslides::-webkit-scrollbar-track {
    background: transparent;
  }
  .handslides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 145px;
    height: 210px;
    margin-right: 5px;
    border-radius: 10px;
    background:transparent;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    border: 1px solid burlywood;
    display: flex;
    justify-content: center;
    align-items:end;
    font-size:18px;
    margin: 20px 0px 0px 10px;
  }
 
  
 
 
  
  
  
  
