* {
    box-sizing: border-box;
  }
  .Roomslider{
    display: flex;
    justify-content: center;
  }
  .Roomslides  {
    margin: 50px;
    border-radius: 10px;
    border: solid black 2px;
    padding: 15px;
    font-size:17px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
.roomBtn{
  color: aliceblue;
  font-size: 20px;
  border-radius: 15px;
  background-color:black;
 margin-top: 10px;
}

.content{
 text-align: center;
 width: 150px;
 height: 120px;
 
 align-items: center;
}
.content h1,h3{
  margin-top: -10px;
  background-color: aliceblue;
  border: solid black 1px;
  border-radius: 10px;
}
#name{
  font-size: 15px;
  border-radius: 15px;
  height: 2.5rem;
  background-color: aliceblue;
  width: 200px;
  border: solid black 2px;
  margin-top: -20px;
  text-align: center;
}
.teams{
  margin-top: 10px;
}
.cr-slide{
  display: flex;
  justify-content: center;
}
#create{
  margin-top: -10px;
  background-color: aliceblue;
  border: solid black 1px;
  border-radius: 10px;
}