
.Trumplides > div {
  height: 650px;
 width: 380px;
  margin: 15px;
  border-radius: 10px;
  align-items: center;
  background:wheat;
  position: relative;
  border:solid 2px;
  padding: 10px;
  text-align: center;
}


.Trumplides{
  
  display: flex;
  justify-content: center;
}
.start{
  height: 30px;
  width: 75px;
  font-size: larger;
  border-radius: 10px;
  background-color:antiquewhite;
 
}