* {
    box-sizing: border-box;
  }
.wraper{
  display:flex; 
  flex-direction: column;
}
 
  .JoinRoomslider {
    display: flex;
    justify-content: center;
  }
  .JoinRoomslides {
    border-radius: 20px;
    padding: 15px;
   border: solid black 2px;
    margin: 50px;
    font-size:17px;
    text-align: center;
    
  }
 .teams{
 display: flex;
 justify-content: space-between;
 background-color: aliceblue;
 border-radius: 15px;
 padding: 10px;
 border: solid black 1px;
 }


.JoinRoomBtn{
  color: aliceblue;
  font-size: 25px;
  border-radius: 15px;
  background-color:black;

}
  
#code {
  font-size: 15px;
  border-radius: 15px;
  height: 2.5rem;
  background-color: aliceblue;
  width: 220px;
  border: solid black 2px;
}
#name1 {
  font-size: 15px;
  border-radius: 15px;
  height: 2.5rem;
  background-color: aliceblue;
  width: 220px;
  border: solid black 2px;
}
#slide > h4{
  border: solid black 1px;
  border-radius: 10px;
  background-color: aliceblue;
}
#slide > p{
  border: solid black 1px;
  border-radius: 10px;
  background-color: aliceblue;
}
.loader{
  margin-top: -60vh;
  height: 40vh;
  width: 40vh;
  margin-left: 15%;
}
